.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 40px 30px 100px;
    position: relative;
}

.texto-cabecalho{
    font-weight: bold;
    color: #da990e;
    font-size: 60px;
}

nav {
    position: absolute;
    right: 100px;
}


nav li{
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #afa9a9;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}